.order-detail .cart-table {   
    width: 50%;     
    margin: 0 auto;  
}
.order-detail .cart-table .order-id {
    color: black;
    margin-bottom: 24px;
    font-size: 28px;
    margin-top: 40px;
}
.order-detail .cart-table .header {
    display: flex;
    flex-direction: column;
    background: var(--pure-white);
    border: solid 1px var(--border-color);
    border-radius: 4px;
    width: 100%;
}
.order-detail .header-row {
    display: flex;
    height: 50px;
    background: var(--dark-blue);
    margin-bottom: 15px;
}
.order-detail .header-row span {
    flex: 1;
    color: var(--pure-white);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
    font-weight: 600;
    margin-left: 15px;
}
.order-detail .header-row span.center {
    display: flex;
    justify-content: center
}
.order-detail .flex-2 {
    flex: 2;
    padding-left: 10px;
}
.order-detail .product-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: solid 1px var(--border-color);
}
.order-detail .product-row span {
    flex: 1;
}
.order-detail .product-row span.center {
    display: flex;
    justify-content: center;
}
.order-detail .receipt {
    display: flex;
    flex-direction: column;
    background: var(--pure-white);
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
}
.order-detail .receipt span {
    flex: 1;
}
.order-detail .receipt span.center {
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.order-detail .receipt .receipt-subtotal, .order-detail .receipt .receipt-taxes, .order-detail .receipt .receipt-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}
.order-detail .receipt .receipt-total {
    border-top: solid 1px var(--border-color)
}
.order-detail .receipt .label {
    font-weight: 600;
    padding-left: 10px;
}